.image-upload-wrap {
  width: 100px;
  height: 100px;
  margin-top: auto;
  border: 1.5px dashed rgb(123, 121, 243);
  position: relative;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.drag-text {
  font-weight: 100;
  font-size: smaller;
  margin: 0 5px;
  cursor: pointer;
}

