
.slick-slide > div {
  margin: 0 10px;
 
}

.slick-list {
  
  margin: 0 -10px;
}

.slick-slide *:focus{
  outline: none;
 
}

.slide{
margin-left: -10px;
}

.form
{
  position: relative;
}
.textbox
{
  border: 5px solid green;
  border-radius: 5px;
  outline: none;
  background: none;
  padding: 10px;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #e4e8ee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
